.iconContainer {
    transition: all 0.5s ease;
    transform-origin: center;
    opacity: 0.5;

    svg {


        path,
        circle {
            fill: #E6EBE0;
        }
    }
}

.iconContainerActive {
    transition: all 0.5s ease;
    transform-origin: center;
    transform: scale(1.05);
    opacity: 1;

    svg {


        path,
        circle {
            fill: #FFFFCB;
        }
    }
}
.centering {
    display: grid;
    grid-template-rows: 1fr auto;
    align-items: center;
    justify-content: center;
}

.title {
    text-align: center;
}